{% extends 'base.html' %}
{% block title %}About Us | OBUX {% endblock title %}
{% load static %}

{% block content %}
<br><br><br><br>
<div class="container">
    <div class="title-1">About OBUX</div><br>
    <div class="card p-3" style="box-shadow: 0 5px 0 5px rgba(0,0,0,.3);">
        <p class="lead">
            OBUX - Online Books Exchange System is a Platform that let you trade books with someone that has a book of your interest,
             borrow someone's else book or put your own books up for trades and for other people to borrow, 
             discuss, comment and review books.
        </p>
    </div>
</div>
<br><br><br><br>
{% endblock %}
